.cont {
	display: flex;
	height: 1em;
	margin-top: 50px;
	margin-bottom: 50px;
}

.cont p {
	margin: 0px auto 0px 5px;
}

.mailicon {
	width: 20px;
	height: 20px;
	background-image: url("https://img.icons8.com/metro/26/000000/email.png");
	background-size: cover;
}

.telicon {
	width: 20px;
	height: 20px;
	background-image: url("https://img.icons8.com/ios-glyphs/30/000000/phone-contact.png");
	background-size: cover;
}

.locicon {
	width: 20px;
	height: 20px;
	background-image: url("https://img.icons8.com/material/24/000000/order-delivered.png");
	background-size: cover;
}

form {
	margin: auto auto 50px auto;
}

.message form p {
	padding: 0;
	margin: 1em auto auto auto;
}

.message input {
	height: 3em;
	width: 200px;
	background-color: #F0F0F7;
	border: 0px;
	border-bottom: 1px solid black;
	margin: 1em auto 1em auto;
	width: auto;
}

.message textarea {
	resize: none;
	background-color: #F0F0F7;
	border: 0px;
	border-bottom: 1px solid black;
	margin: 1em auto 1em auto;
	width: auto;
}

#errorname p {
	width: 200px;
	color: red;
	margin: 0px;
	padding: 0px;
	width: auto;
}

#errormessage p {
	color: red;
	margin: 0px;
	padding: 0px;
	width: auto;
}

#errormail p {
	color: red;
	margin: 0px;
	padding: 0px;
	width: auto;
}

.error {
	margin: 5px auto 5px auto;
	padding: 10px;
	width: 400px;
	border: 1px solid red;
	border-radius: 20px;
}

#errorname {
	margin: 0px;
}

#errormessage {
	margin: 0px;
}

#errormail {
	margin: 0px;
}