body {
	margin: 0;
	padding: 0;
	background-color: #E4E4E4;
}

p {
	margin: 0;
	padding: 0;
}

.reg {
	z-index: 4;
	width: 500px;
	height: 500px;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	background-color: #fff;
	border-radius: 20px;
	border: 2px solid gray;
	padding: 10px;
	text-align: center;
}

.info {
	opacity: 0.3;
	font-style: italic;
	font-family: roboto;
}

.standart {
	text-align: center;
	border: 0px;
	border-bottom: 1px solid black;
	background: #ffffff !important;
	outline: none;
	height: 2em;
	width: auto;
	font-size: 2em;
	font-family: Tahoma;
}

.error {
	text-align: center;
	border: 0px;
	border-bottom: 1px solid red;
	background: #ffffff !important;
	outline: none;
	height: 2em;
	width: auto;
	font-size: 2em;
	font-family: Tahoma;
}

.player {
	font-family: roboto;
	font-size: 2em;
	margin-top: 8%;
	margin-bottom: 1%;
}

#button {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10%;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 2em;
	background-color: #00D800;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px; 
	border: 0px solid #00D800;
}

#back {
	z-index: 3;
	position: absolute;
	width: 100%;
	height: 100%;
	background: gray;
	opacity: 0.95;
}

#field {
	z-index: 2;
	width: 700px;
	height: 700px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	background-color: #000;
	border: 0px solid black;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	border-radius: 100px;
}

.cell {
	position: absolute;
	width: 32%;
	height: 32%;
	background-color: #fff;
}

#c1 {
	border-top-left-radius: 20px;
	top: 0;
	left: 0;
}

#c2 {
	top: 0;
	left: 34%;
}

#c3 {
	border-top-right-radius: 20px;
	top: 0;
	right: 0;
}

#c4 {
	top: 34%;
	left: 0;
}

#c5 {
	top: 34%;
	left: 34%;
}

#c6 {
	top: 34%;
	right: 0;
}

#c7 {
	border-bottom-left-radius: 20px;
	bottom: 0;
	left: 0;
}

#c8 {
	bottom: 0;
	left: 34%;
}

#c9 {
	border-bottom-right-radius: 20px;
	bottom: 0;
	right: 0;
}

#playerlist {
	position: absolute;
	left: 10%;
    transform: translate(-50%, -50%);
    top: 7%;
    font-size: 2em;
    font-family: roboto;
}

#playero {
	margin-top: 10px; 
}

@media all and (max-width: 750px) {
	#field {
		width: 600px;
		height: 600px;
	}

	#playerlist {
		left: 50%;
    	top: 10%;
	}
}

@media all and (max-width: 650px) {
	#field {
		width: 500px;
		height: 500px;
	}

	#playerlist {
		left: 50%;
    	top: 10%;
	}
}

@media all and (max-width: 550px) {
	.reg {
		width: 400px;
		height: 400px;
	}
	#welcome {
		width: 400px;
		height: 400px;
	}
	.standart {
		height: 2em;
		font-size: 1em;
	}
	.error {
		height: 2em;
		font-size: 1em;
	}
	#button {
		font-size: 1em;
	}

	#field {
		width: 400px;
		height: 400px;
	}

	#playerlist {
		left: 50%;
    	top: 10%;
	}
}

@media all and (max-width: 450px) {
	.reg {
		width: 300px;
		height: 25em;
	}
	#welcome {
		width: 300px;
		height: 300px;
	}
	.standart {
		height: 2em;
		font-size: 1em;
	}
	.error {
		height: 2em;
		font-size: 1em;
	}
	#button {
		font-size: 1em;
	}

	#field {
		width: 300px;
		height: 300px;
	}

	#playerlist {
		left: 50%;
    	top: 10%;
	}
}

@media all and (max-width: 350px) {
	.reg {
		width: 200px;
		height: 22em;
	}
	#welcome {
		width: 200px;
		height: 200px;
	}
	.standart {
		height: 2em;
		font-size: 1em;
	}
	.error {
		height: 2em;
		font-size: 1em;
	}
	#button {
		font-size: 1em;
	}

	#field {
		width: 200px;
		height: 200px;
	}

	#playerlist {
		left: 50%;
    	top: 10%;
	}
}