html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
}

.maincontent {
	flex: 1 0 auto;
	width: 100%;
	margin: 0 auto;
}

.footer {
	flex: 0 0 auto;
	height: 200px;
	background-color: #F5F5F7;
}

.header {
	box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}

.title {
	font-family: 'Montserrat', sans-serif;
	color: #000;
	text-align: center;
}

.slogan {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	padding-bottom: 10px;
}

.content {
	text-align: center;
	margin: 50px 0;
	width: 100%;
}

.content a {
	margin-top: 20px;
	display: inline-block;
}

a:active {
	color: black;
}

.wrap {
	width: 300px;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2E497E;
	margin: 0 10px;
	box-shadow: 0.3em 0.3em 5px rgba(122,122,122,0.5);
}

.wrap:hover {
	background-color: #263C68;
}

.name {
	font-family: 'Nunito', sans-serif;
	color: #D3CAAD;
}