body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}
header {
	width: 100%;
	word-wrap: break-word;
	margin-left: 20px;
	margin-top: 20px;
}

.pizza {
	background: blue;
	opacity: 0.1;
	border-radius: 2000px;
	position: fixed;
	width: 90%;
	height: 54%;
	top: 23%;
	left: 5%;
	z-index: 2;
}

.part {
	height: 54%;
	width: 90%;
	position: fixed;
	top: 23%;
	left: 5%;
	z-index: 1;
}