html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
}

.maincontent {
	flex: 1 0 auto;
	width: 100%;
	margin: 0 auto;
}

.footer {
	flex: 0 0 auto;
	height: 200px;
	background-color: #F5F5F7;
}

.header {
	border-bottom: 1px solid rgba(0, 0, 0, .2)
}

.title {
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000;
	text-align: center;
}

.slogan {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin: 0px;
	padding-bottom: 10px;
}

.content {
	margin: 20px 0;
	width: 100%;
}

.content a {
	width: 100%;
	margin-top: 20px;
	display: inline-block;
}

a:active {
	color: black;
}

.wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 150px;
	background-color: #2E497E;
}

.wrap:hover {
	background-color: #263C68;
}

.name {
	text-align: center;
	font-family: 'Nunito', sans-serif;
	color: #D3CAAD;
}

.content1 {
	margin: 0 20px;
}

#intro {
	color: #263C68;
	font-family: 'Roboto Mono', monospace;
	text-align: center;
	margin: 40px 10px ;
	font-size: 0.9em;
}

.content1 h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
}

.content1 h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.3em;
}

.content1 a {
	color: #0000FF;
	font-family: 'Nunito', sans-serif;
}

.content1 a:hover {
	color: #0000FF;
	text-decoration: underline;
}

.content1 a:visited {
	color: #0000FF;
}

.list {
	padding: 0;
	padding-bottom: 22px; 
}

.elist {
	list-style-type: none;
	margin-bottom: 10px;
	font-size: 1.2em;
}

.task {
	margin: 10px 0 20px 0;
	margin-bottom: 30px;
	box-shadow: 0 6px 1px -4px rgba(0, 0, 0, .1);
}

.task h1, li {
	text-align: center;
}

.teoria {
	font-family: 'Roboto Mono', monospace;
}

.tasktext {
	font-family: 'Nunito', sans-serif;
}

.math {
	display: inline-block;
	margin-right: 50px;
	text-align: center;
}

.answer {
	font-family: 'Nunito', sans-serif;
}