html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
}

.maincontent {
	flex: 1 0 auto;
	width: 100%;
	margin: 0 auto;
}

.footer {
	flex: 0 0 auto;
	height: 200px;
	background-color: #F5F5F7;
}

.header {
	border-bottom: 1px solid black
}

.title {
	font-family: 'Montserrat', sans-serif;
	color: #000;
	text-align: center;
}

.slogan {
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.content {
	margin: 20px 0;
	width: 100%;
}

.content a {
	width: 100%;
	margin-top: 20px;
	display: inline-block;
}

a:active {
	color: black;
}

.wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 150px;
	background-color: #2E497E;
}

.wrap:hover {
	background-color: #263C68;
}

.name {
	text-align: center;
	font-family: 'Nunito', sans-serif;
	color: #D3CAAD;
}