@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/montserrat/static/Montserrat-SemiBold.ttf") format("ttf");
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,legend,input,textarea,p,a {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.color-main {
    color: #252525;
}

.color-main li a {
    color: #252525;
}

.color-white {
    color: #fff;
}

.color-white li a {
    color: #fff;
}

img {
    border: 0;
}

img {
    vertical-align: bottom;
}

ol,ul {
    list-style: none;
}

a * {
    cursor: pointer;
    outline: none;
}
a {
    text-decoration: none;
    outline: none;
}

a:focus {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
}

.inline {
    display: inline;
}

input,textarea,select {
    vertical-align: middle
}

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

header {
    width: 100vw;
}
.header-container {
    max-width: 1366px;
    margin: 0 auto;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.main-nav a {
    display: block;
    line-height: 70px;
}

.sub-nav a {
    display: flex;
    align-items: center;
    height: 70px;
}

.main-nav ul {
    display: flex;
    flex-direction: row;
}

.main-nav a {
    padding: 0 10px;
}

.main-nav ul li {
    padding: 0 27px;
}

.button-select a {
    position: relative;
}

.button-select a:after {
    content: '';
    height: 4px;
    width: 100%;
    background-color: #252525;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}

.sub-nav ul {
    display: flex;
    grid-column-gap: 30px;
}

.sub-nav a {
    padding: 0 10px;
}

.svg {
    width: 30px;
    height: 30px;
    display: block;
}

#logo-svg {
    height: 70px;
    width: 68px;
}

.list-svg {
    width: 40px;
    height: 70px;
}

.banner {
    height: 50px;
    width: 100%;
    background-color: red;
}

.list-container {
    z-index: 999999;
    width: 100%;
    background-color: #252525;
    padding: 50px 0 80px 0;
    position: absolute;
    top: 70px;
    left: 0;
}

.row-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h-center {
    align-items: center;
}

.a-left {
    align-items: flex-start;
}

.f-wrap {
    flex-wrap: wrap;
}

.d-flex {
    display: flex;
}

.arrow-link {
    display: inline-flex;
    align-items: center;
}

.arrow-link:after {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    height: 14px;
    width: 14px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath fill='%23fff' d='M28.5 3C28.5 2.17157 27.8284 1.5 27 1.5H13.5C12.6716 1.5 12 2.17157 12 3C12 3.82843 12.6716 4.5 13.5 4.5H25.5V16.5C25.5 17.3284 26.1716 18 27 18C27.8284 18 28.5 17.3284 28.5 16.5V3ZM3.06066 29.0607L28.0607 4.06066L25.9393 1.93934L0.93934 26.9393L3.06066 29.0607Z'/%3e%3c/svg%3e");
    margin-left: 5px;
}

.list-template {
    display: flex;
    grid-column-gap: 150px;
}

.list-template p {
    font-size: 20px;
    margin-bottom: 50px;
}

.list-items li {
    margin-bottom: 22px;
}

.list-items {
    font-size: 20px;
}

.hidden {
    display: none;
}

.height-100 {
    height: 100%;
}

#cap {
    height: calc(100% - 70px);
    width: 100%;
    z-index: 999;
    background-color: rgba(100, 100, 100, 0.5);
    position: absolute;
    top: 70px;
    left: 0;
}

.search-line {
    display: flex;
    width: 800px;
    border-bottom: 1px solid #fff;
    height: 50px;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

#select-categories-container {
    position: absolute;
    display: flex;
    right: 0;
}

#search {
    background-color: transparent;
    border: 0;
    color: #fff;
    flex: 1 0 auto;
    padding: 0 0 0 10px;
}

#search:focus-visible {
    outline: 0;
}

#select-categories {
    border: 0;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    padding: 0 10px;
}

label[for=search] {
    padding: 0 10px;
    cursor: pointer;
}

#v-devider {
    height: 25px;
    width: 1px;
    background-color: #fff;
}

.size-25 {
    font-size: 25px;
}

.size-20 {
    font-size: 20px;
}

.search-result {
    width: 800px;
}

.search-element {
    margin: 10px 0;
    width: 100%;
    height: 100px;
}

.search-element__name {
    flex: 1 0 auto;
    padding-left: 20px;
}

.selected-categories-container {
    width: 100%;
    padding: 20px 0 10px 0;
}

.search-result__container {
    width: 100%;
}

div[data-list-id=search] {
    /*width: 800px;*/
    min-width: 0;
}

.search-container {
    width: 800px;
    margin: 0 auto;
}

.select-categories__container {
    width: 800px;
}

.swiper-wrapper {
    display: flex;
}

.swiper-wrapper .swiper-slide {
    display: flex;
    width: 100%;
}

.select-radio {
    display: flex;
    align-items: center;
    height: 2em;
    width: 50%;
}

.radio-button {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.radio-button+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.radio-button+label::before {
    content: '';
    height: 20px;
    width: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #fff;
    border-radius: 100px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    /*background-size: 50% 50%;*/
}

.radio-button:checked+label::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3e%3ccircle fill='%23fff' cx='9' cy='9' r='7'/%3e%3c/svg%3e");
}
