body {
	margin: 0;
	padding: 0;
	background-color: #E4E4E4;
}

.main {
	background-color: #fff;
	border-radius: 10px;
	width: 70%;
	height: 400px;
	margin: 10% auto;
	display: flex;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
}

p {
	margin: 0px;
	padding: 0px;
	font-family: Roboto;
	font-size: 3em;
	cursor: pointer;
}

.player {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	display: flex;
	height: 50%;
	width: 40%;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border-radius: 100px;
	cursor: pointer;
}

#duo {
	z-index: 3;
	margin: auto auto -5% 4%;
}

#solo {
	z-index: 3;
	margin: auto 4% -5% auto;
}

.logo {
	width: 90%;
	height: 100%;
	left: 5%;
	top: -10%;
	background-image: url("../images/logo1.png");
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
}

@media all and (max-width: 800px) {
	.main {
		width: 90%;
		height: 650px;
		top: 2%;
		margin: 0;
		left: 5%;
		position: fixed;
		display: block;
}
	.player {
		height: 30%;
		width: 90%;
		margin: 5% auto; 
		text-align: center;
		align-items: center;
		border-radius: 100px;
}
	#duo {
		z-index: 3;
		margin-top: 40%; 
		margin-bottom: 50px;
}

	#solo {
		z-index: 3;
	}

	.logo {
		width: 98%;
		height: 130%;
		margin: 1%;
		height: 20%;
		left: auto;
		top: auto;
		position: block;
		display: flex;
	}
}

@media all and (max-width: 800px) and (max-height: 660px) {
	.main {
		height: 600px;
	}
}

@media all and (max-width: 800px) and (max-height: 600px) {
	.main {
		height: 500px;
	}
}

@media all and (max-width: 800px) and (max-height: 500px) {
	.main {
		height: 400px;
	}
}
