body {
	margin: 0;
	padding: 0;
	position: inherit;
}

.start {
	position: absolute;
	display: flex;
	align-items: center;
	top: 30%;
	right: 10%;
	background-color: #5C5CFF;
	height: 40%;
	width: 80%;
	border-radius: 40px;
}

p {
	width: 100%;
	font-size: 1em;
	text-align: center;
	color: #fff;
	font-family: roboto;
}

.start:active {
	background-color: #8585FF;
	margin-top: 5px;
}