* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--tg-theme-bg-color);
}

body {
    color: var(--tg-theme-text-color); 
}

main {
    width: 100vw;
    height: 100vh;
}

a {
    color: var(--tg-theme-link-color);
}

button {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hint {
    color: var(--tg-theme-hint-color);
}

.hidden {
    display: none;
}

.block {
    margin: 20px 10px;
}

.flex {
    display: flex;
}

.svg-button {
    padding: 5px;
}

.f-v-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between
}

.center-block {
    margin-left: 50%;
    transform: translateX(-50%);
}