* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--tg-theme-bg-color);
}

main {
    width: 100vw;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
pre,
input {
    color: var(--tg-theme-text-color);    
}

a {
    color: var(--tg-theme-link-color);
}

button {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    padding: 10px 20px;
}

.hint {
    color: var(--tg-theme-hint-color);
}

.hidden {
    display: none;
}

.block {
    margin: 20px 0;
}